<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="conn" connectionString="C5D83E1A71F7F490D604E0AD5545E9C0E47C2CC4D720BBCA378B7260C13564FD0A0E754438751B956CD73ECBD52A6A7039B0C2A6D3FA8D1F251A542EB6E55E888A2AEB5BB2368054CD229F0ADC9421F5F4F9504749D07F6C"
      providerName="PGDALAssembly" />
  </connectionStrings>
  <appSettings>
    <add key="PGDALAssembly" value="ZLSoft.QWPlatform.NPGSql.dll,QWPlatform.NPGSql.Provider.NPGSqlProvider" />
    <add key="WebServiceAssembly" value="ZLSoft.QWPlatform.WebServiceDataProxy.dll,QWPlatform.WebServiceDataProxy.Provider.ServiceProxyProvider" />
    <add key="EncryptDatabaseString" value="true" />
    <add key="ZLBaseServer" value="127.0.0.1:1100" />
  </appSettings>

  <!--指定oralce的版本，在web.config文件目录下进行配置runtime节点
  当一个服务器安装多个oracle客户端版本访问异常时使用
  异常如下：未能加载文件或程序集“Oracle.DataAccess, Version=2.112.1.2, Culture=neutral, PublicKeyToken=89b483f429c47342”或它的某一个依赖项。
  或者是：Could not load file or assembly 'Oracle.DataAccess, Version=2.112.1.2, Culture=neutral, PublicKeyToken=89b483f429c47342' or one of its dependencies. An attempt was made to load a program with an incorrect format
  -->
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Oracle.DataAccess" publicKeyToken="89b483f429c47342" culture="neutral" />
        <bindingRedirect oldVersion="2.112.1.0" newVersion="4.112.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>