<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>

    <!--调用C#的WebService:    ZLSoft.QWPlatform.IService.dll,QWPlatform.IService.CSharpWebServiceBuilder
        调用Java的WebService:  ZLSoft.QWPlatform.IService.dll,QWPlatform.IService.JavaWebServiceBuilder
    -->
    <add key="WebServiceFactory" value="ZLSoft.QWPlatform.IService.dll,QWPlatform.IService.CSharpWebServiceBuilder"/>

  </appSettings>
</configuration>